<head>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<h2>List of Bookmarks</h2>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="border" id="bookmark<%= bookmark.id %>" >
      <a href="https://<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
        </form>
        <form action="/bookmarks/<%= bookmark.id %>" method="get"
        <input type='hidden' name='_method' value='PATCH'/>
        <input type="submit" value="Update" />
      </form>
    </li>
  <% end %>
</ul>

<form action="/home" method="get">
<input type="submit" value="Return Home" />
</form>
